<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>It rocks!!!</title>
</head>
<style>
nav {
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%; 
}

</style>
<script type = "text/javascript">
	function proceed()
	{
		var name = document.forms['searchForm'].nameField.value;
		 window.location.href = "/editForm/"+name;
	}
	
	function proceed3()
	{
		var name = document.forms['deleteForm'].deleteField.value;
		 window.location.href = "/delete/"+name;
	}


</script>
<body>
<nav>
	<ul>
		<li><a href="@routes.Application.show()">Create a Student</a></li>
		<li>
			<a href="@routes.Application.index()">Demo Mode <span class="caret"></span></a>
			
		</li>
		<li><a href="@routes.Application.results()">View Students</a></li>
		<li><a href="">Help</a></li>
	</ul>
	<form id = "searchForm"  name = "searchForm" method = "get" action = "" />
	<input type = "text" name ="nameField" size = "30" />
	<input type="button" value="Edit" onclick= "proceed();"/>  
	
	</form>
	
	<form id = "searchForm"  name = "deleteForm" method = "get" action = "" />
	<input type = "text" name ="deleteField" size = "30" />
	<input type="button" value="Delete Student" onclick= "proceed3();"/>  
	
	</form>
</nav>

</body>
</html>