<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
nav {
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%; 
}

</style>
<body>
<nav>
	<ul>
		<li><a href="@routes.Application.show()">Create a Student</a></li>
		<li>
			<a href="@routes.Application.index()">Demo Mode <span class="caret"></span></a>
			<
		</li>
		<li><a href="@routes.Application.results()">View Students</a></li>
		<li><a href="">Help</a></li>
	</ul>
</nav>

</body>
</html>